<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title><%= blog.name %></title>
  <% if (static) { %>
    <link rel="stylesheet" href="/static/style.css">
  <% } else { %>
    <link rel="stylesheet" href="/style">
  <% } %>
</head>
<body>
  <div class="container">
    <%- body %>
    <footer><%= blog.footer %></footer>
  </div>
</body>
</html>