<div>
  <a href="/post/new">+ New Post</a>
  <span class="date"> | </span>
  <a class="pull-right" href="/setting">ƒ Settings</a>
  <% for (var i = 0; i < posts.length; i++) { %>
    <article>
      <span class="date pull-right"><time><%= (new Date(posts[i].time)).toLocaleString() %></time></span>
      <h2>
        <a href="/post/<%= posts[i].link %>"
           title="<%= posts[i].title %>"
           aria-label="Title">
          <%= posts[i].title %>
        </a>
      </h2>
      <% if (posts[i].content.length <= 100) { %>
        <p><%= posts[i].content %></p>
      <% } else { %>
        <p><%= posts[i].content.substr(0, 80) %> ...</p>
      <% } %>
    </article>
  <% } %>
</div>
