<div>
  <div class="pane-group">
    <div class="pane pane-sm sidebar">
      <nav class="nav-group">
        <h5 class="nav-group-title">Pages</h5>
        <% for (let i = 0; i < pages.length; i++) { %>
        <span class="nav-group-item post-select" data-link="/<%= pages[i].link %>">
          <%= pages[i].title %>
        </span>
        <% } %>
        <h5 class="nav-group-title">Posts</h5>
        <% for (let i = 0; i < posts.length; i++) { %>
        <span class="nav-group-item post-select" data-link="/post/<%= posts[i].link %>">
          <%= posts[i].title %>
        </span>
        <% } %>
      </nav>
    </div>
    <div class="pane">
      <iframe id="pane-view">
      </iframe>
    </div>
  </div>
</div>

