<header class="toolbar toolbar-header toolbar-transparent">
  <div class="toolbar-actions">
    <button class="btn btn-primary pull-right" onclick="post_form.submit();">
      Save
    </button>
  </div>
</header>

<div class="post-view">
  <form id="post_form" method="POST">
    <article>
      <input type="text" name="title" placeholder="Title" autocomplete="off">
      <p>
        <textarea name="content"></textarea>
      </p>
      <p>Insert image: <input class="file-upload upload-finish" style="display: none" type="file">
        <noscript>sorry, but your browser doesn't support JavaScript.</noscript>
      </p>
      <%- plugin.enable && plugin.editorArticleBottom ? plugin.editorArticleBottom() : '' %>
    </article>
  </form>
</div>
<script src="/static/file-upload.js"></script>
<%- plugin.enable && plugin.editorBottom ? plugin.editorBottom() : '' %>
