/* Created by shuding on 5/6/16. */
/* <ds303077135@gmail.com> */

/* resets */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 40px 0;
  max-width: 1280px;
  font-family: 'Helvetica', 'Helvetica Neue', 'Arial', 'PingFang SC', 'PingFang TC', 'PingFang HK', 'Microsoft YaHei', sans-serif;
  font-weight: normal;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: white;
}

a, a:visited, input[type=submit] {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  color: #000BAE;

  /* wrapping settings */
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}

a:after {
  content: '';
  display: block;
  height: 0.5em;
  margin-top: -0.5em;
  margin-left: -3px;
  margin-right: -3px;
  mix-blend-mode: multiply;
}

a:hover:after {
  background: #FF3E2D;
}

a:focus {
  color: #2b2eff;
  outline: none;
}

a.disabled, input[type=submit]:disabled {
  cursor: not-allowed;
}

input[type=submit] {
  padding: 5px;
  margin: 0;
  color: #fff;
  background: #000BAE;
  font-size: 1em;
  border: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=submit]:hover {
  background: #FF3E2D;
}

p {
  line-height: 1.5em;
  margin-bottom: 1.2em;
}

blockquote {
  margin-bottom: 2em;
  font-style: italic;
}

h2 {
  margin-bottom: 10px;
}

article {
  margin: 30px 0 40px;
}

input[type=text], textarea {
  padding: 5px;
  width: 100%;
  font-weight: inherit;
  font-size: inherit;
  border: 1px solid #ccc;
}

input[type=text]:disabled {
  background: #eee;
}

input[type=text].inline-input {
  display: inline-block;
  width: auto;
}

textarea {
  min-height: 20em;
}

hr {
  border: none;
  margin: 2em 0;
  border-bottom: 1px solid #000;
}

nav {
  display: flex;
  display: -webkit-flex;
  margin: 0 0 10px;
  font-size: 1.2em;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

nav > a {
  line-height: 64px;
  min-width: 64px;
  margin-left: 20px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

nav > a:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 64px;
  margin: auto;
  transform: rotate(45deg);
  mix-blend-mode: multiply;
}

footer {
  margin-top: 200px;
  font-size: 15px;
  color: #ccc;
}

li { line-height: 1.4em; margin-bottom: 0.5em; }
li > p { margin: 0; }
ul { margin: 0; }
dt { font-weight: bold; }
dd { margin-bottom: 0.5em; }

h1 { font-size: 200%; }
h2 { font-size: 160%; }
h3 { font-size: 120%; }
h4 { font-size: 100%; }
h5 { font-size: 80%; }
h6 { font-size: 80%; font-weight: normal; }
h1, h2, h3, h4, h5, h6 { margin-top: 1.4em; }

pre { overflow: scroll; }

.container {
  margin: auto;
  padding: 20px;
  max-width: 680px;
}

.date {
  color: #ccc;
}

.pull-right {
  float: right;
}

.input-group {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  margin: 30px 0;
}

.input-group > h5 {
  flex-basis: 100px;
  -webkit-flex-basis: 100px;
  margin: 0;
  line-height: 1.5em;
}

.input-group > p {
  flex: 1;
  -webkit-flex: 1;
  margin: 0 0 0 15px;
}

.blog-name {
  margin: 0 0 20px;
}

.title-overflow > h2 {
  overflow: hidden;
  padding-left: 3px;
  padding-right: 15px;
  margin-left: -3px;
  margin-bottom: 0;
}

.title-overflow > h2 > a {
  max-width: 100%;
  padding: 0 3px;
  margin: 0 -3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}