/* Created by shuding on 5/6/16. */
/* <ds303077135@gmail.com> */

/* resets */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 40px 0;
  max-width: 1120px;
  font-family: 'Helvetica', 'Helvetica Neue', 'Arial', 'PingFang SC', 'PingFang TC', 'PingFang HK', 'Microsoft YaHei', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a, a:visited {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  color: #000BAE;
}

a:after {
  content: '';
  display: block;
  height: 0.5em;
  margin-top: -0.5em;
  margin-left: -3px;
  margin-right: -3px;
}

a:hover:after {
  background: #FF3E2D;
}

a:focus {
  color: #2b2eff;
  outline: none;
}

p {
  line-height: 1.5em;
}

blockquote {
  font-style: italic;
}

h2 {
  margin-bottom: 10px;
}

article {
  margin: 30px 0 40px;
}

input[type=text], textarea {
  padding: 5px;
  width: 100%;
  font-weight: inherit;
  font-size: inherit;
  border: 1px solid #ccc;
}

textarea {
  min-height: 20em;
}

hr {
  border: none;
  border-bottom: 1px solid #ccc;
}

footer {
  margin-top: 200px;
  font-size: 15px;
  color: #ccc;
}

.container {
  margin: auto;
  padding: 20px;
  max-width: 720px;
}

.date {
  color: #ccc;
}

.pull-right {
  float: right;
}

.input-group {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  margin: 30px 0;
}

.input-group > h5 {
  flex-basis: 100px;
  -webkit-flex-basis: 100px;
  margin: 0;
  line-height: 1.5em;
}

.input-group > p {
  flex: 1;
  -webkit-flex: 1;
  margin: 0 0 0 15px;
}

.blog-name {
  margin: 0 0 20px;
}

.title-overflow > h2 {
  overflow: hidden;
  padding-left: 3px;
  padding-right: 15px;
  margin-left: -3px;
}

.title-overflow > h2 > a {
  max-width: 100%;
  padding: 0 3px;
  margin: 0 -3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}